
#s {
    background-image: url(../hinh/maunen1.jpg);
}

#e {
    /* The image used */
    background-image: url(../hinh/maunen1234.jpg);

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#k,
#e {
    border: none;
}

h1 {
    padding-left: 500px;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    color: #1d1416;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
    font-size: 50px;
    margin-left: -20px;
}

.topnav {
    padding-right: 40px;
}

span {
    position: relative;
    top: -25px;
    float: none;
}



/* Slideshow container */
.slideshow-container {
    max-width: auto;
    position: relative;
    margin: 18px;
    margin-left: 4px;
    margin-top: 0px;
}

/* Ẩn các slider */
.mySlides {
    display: none;
}



/* định dạng các chấm chuyển đổi các slide */
.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: darksalmon;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/* khi được hover, active đổi màu nền */
.active,
.dot:hover {
    background-color: darksalmon;
}

/* Thêm hiệu ứng khi chuyển đổi các slide */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* #span1 {
    float: right;
} */

/* #s,
#e {
    background-color: black;
} */

.topnav {
    overflow: hidden;
    background-color: rgb(202, 209, 202);
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: blanchedalmond;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
    background-color: #2196F3;
    color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

/* Áo */
* {
    box-sizing: border-box;
}

.column {
    border-left: none;
}

.row {

    border: 1px none;
}

p {
    text-align: center;
    text-decoration-style: initial;
    font-size: 20px;
    color: firebrick;
}

img {

    margin-left: 34px;
    margin-top: -10px;
}

.tieudeao {
    text-align: center;
    color: brown;
    text-shadow: 1px 1px brown;
}

h3 {
    font-size: 30px;
}